
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
/*top-nav*/
.top-nav{
    width: 100%;
    height: 32px;
    margin: 0px auto;
    background: #eee;
    /*border: 1px solid red;*/
}

.top-nav .top-nav-left{
    float: left;
}

.top-nav .top-nav-right{
    float: right;
}

.top-nav li{
    float: left;
    margin-left: 7px;
    padding: 0px 3px;
}

.top-nav li a{
    color: #6c6c6c;
    font-size: 13.333333px;
    line-height: 35px;
}
.top .top-nav li a:hover{
    color: #ff4400;
}
.top-nav .top-nav-left .welcome,.top-nav .top-nav-right .fenggexian{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
}

.top-nav .bjpic{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle;
    background-size: 100% 100%;
    /*	border: 1px solid black;*/
}



