<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.chat.mapper.AdminMapper">
    <resultMap id="adminResultMap" type="com.ai.chat.pojo.Admin">
        <id column="adminId" property="name"/>
        <result column="adminName" property="adminName"/>
        <result column="adminPassword" property="adminPassowrd"/>
        <result column="status" property="status"/>
        <result column="adminCreateTime" property="adminCreateTime"/>
        <result column="adminLoginTime" property="adminLoginTime"/>
        <result column="roleId" property="roleId"/>
    </resultMap>
    <select id="queryByNp" parameterType="com.ai.chat.pojo.Admin" resultType="com.ai.chat.pojo.Admin">
        select * from `admin` where adminName = #{adminName} and adminPassword = #{adminPassword}
    </select>
    <select id="queryById" parameterType="int" resultType="com.ai.chat.pojo.Admin">
        select * from `admin` where adminId = #{adminId}
    </select>
    <select id="query" parameterType="com.ai.chat.pojo.Admin" resultType="com.ai.chat.pojo.Admin">
        select * from `admin`
        <where>
            <if test="adminId != null and adminId !=0">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null and adminName !=''">
                and adminName like CONCAT('%','${adminName}','%')
            </if>
            <if test="status != null and status !=0">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="queryByAdminName" parameterType="com.ai.chat.pojo.Admin" resultType="com.ai.chat.pojo.Admin">
        select * from `admin`
        <where>
            <if test="adminName != null and adminName !=''">
                and adminName = #{adminName}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="com.ai.chat.pojo.Admin">
         insert into `admin` (adminName,adminPassword,status,roleId)
        values (#{adminName},#{adminPassword},#{status},#{roleId})
    </insert>
    <update id="update" parameterType="com.ai.chat.pojo.Admin">
        update `admin`
        <set>
            <if test="adminName != null and adminName != ''">
            adminName = #{adminName},
            </if>
            <if test="adminPassword != null and adminPassword != ''">
                adminPassword  = #{adminPassword},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="roleId != null and roleId != 0">
                roleId = #{roleId},
            </if>
            <if test="adminLoginTime != null and adminLoginTime = ''">
                adminLoginTime = #{adminLoginTime}
            </if>
        </set>
        where adminId = #{adminId}
    </update>
    <update id="updateByAdminName" parameterType="com.ai.chat.pojo.Admin" >
        update `admin` set
            adminLoginTime = #{adminLoginTime} where adminName = #{adminName}
    </update>
    <delete id="delAdmin" parameterType="int">
    delete from `admin` where adminId = #{adminId}
    </delete>

    <insert id="insertAdmin" parameterType="com.ai.chat.pojo.Admin">
         insert into `admin` (adminId,adminName,adminPassword,status,roleId)
        values (#{adminId},#{adminName},#{adminPassword},#{status},#{roleId})
    </insert>

</mapper>