<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.chat.mapper.LogMapper">
    <resultMap type="com.ai.chat.pojo.Log" id="logResultMap">
        <result column="logId" property="logId"/>
        <result column="adminId" property="adminId"/>
        <result column="operation" property="operation"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <insert id="add" parameterType="com.ai.chat.pojo.Log">
         insert into `log` (adminId,operation,status)
        values (#{adminId},#{operation},#{status})
    </insert>
    <select id="queryAllLog" parameterType="com.ai.chat.pojo.Log" resultType="com.ai.chat.pojo.Log">
        select * from `log`
    </select>


</mapper>