<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.chat.mapper.MsgMapper">
    <resultMap type="com.ai.chat.pojo.Message" id="messageResultMap">
        <result column="fromId" property="fromId"/>
        <result column="toId" property="toId"/>
        <result column="msg" property="msg"/>
        <result column="sendTime" property="sendTime"/>
    </resultMap>
    <insert id="add" parameterType="com.ai.chat.pojo.Message">
        insert into `message` (fromId,toId,msg,sendTime)
        values (#{fromId},#{toId},#{msg},#{sendTime})
    </insert>
    <select id="query" parameterType="com.ai.chat.pojo.Message" resultType="com.ai.chat.pojo.Message">
        select * from `message`
        <where>
            <if test="fromId != null and fromId != ''">
                and fromId = #{fromId}
            </if>
            <if test="toId != null and toId != ''">
                and toId = #{toId}
            </if>
            <if test="sendTime != null and sendTime != ''">
                and sendTime = #{sendTime}
            </if>
        </where>
    </select>
    <select id="getChatLog" parameterType="string" resultType="com.ai.chat.pojo.Message">
        select * from `message` where (fromId = #{fromId} and toId = #{toId}) or (fromId = #{toId} and toId = #{fromId})  order by sendTime
    </select>
    <update id="updateRead" parameterType="com.ai.chat.pojo.Message">
        update message set isRead = 1 where fromId = #{fromId} and toId = #{toId}
    </update>
    <select id="getUnread" parameterType="string" resultType="java.util.HashMap">
        select fromId,COUNT(*) count from `message` WHERE toId = #{toId} AND isRead = 0 GROUP BY fromId
    </select>
    <select id="getResp" parameterType="string" resultType="com.ai.chat.pojo.Message">
        SELECT * FROM message WHERE fromId NOT IN
                                    (SELECT id2 FROM relation WHERE id1 = #{id}) AND toId = #{id} AND isRead = 0
    </select>
</mapper>